.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*============ Heder ============ */
.page-nav {
  display: none;
}
.header-contact {
  display: none;
}
.hader-div {
  display: flex;
  align-items: center;
}
.logotipe-header {
  color: var(--logotipe-blu, #4d5ae5);
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-top: 23.5px;
  margin-bottom: 23.5px;
  margin-right: 76px;
}
span.ingredient-header {
  color: var(--navyblue, #2e2f42);
}
.header-btn {
  border: none;
  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 22px;
  padding: 0;
  margin-left: auto;
}

.header-icon {
  stroke: #2e2f42;
}
.is-open {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}
.menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;

  padding: 40px;
  padding-top: 80px;
  background-color: var(--white, #fff);
}
.menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid var(--cornflower, #e7e9fc);
  background-color: #fff;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-list {
  margin-bottom: auto;
}
.menu-link {
  display: block;
  padding-bottom: 40px;
  color: var(--navyblue, #2e2f42);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.menu-link:hover,
.menu-link:focus {
  color: var(--ocean, #404bbf);
}
.menu-contact-link {
  display: block;
  color: var(--iris, #4d5ae5);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 40px;
}
.menu-mail-link {
  display: block;
  color: var(--slate, #434455);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 48px;
}

.menu-media {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
.menu-media-iteam {
  display: flex;
  align-items: center;
}
.menu-media-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-media-icon {
  fill: #f4f4fd;
}
/*============ Hero ============ */
.feature-div {
  display: none;
}
.hero {
  text-align: center;
  background-color: var(--navyblue, #2e2f42);
  justify-content: center;
  padding-top: 112px;
  padding-bottom: 112px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Ofice.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.title-hero {
  color: var(--title, #fff);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 496px;
}

.button-hero {
  display: block;
  min-width: 169px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  margin-top: 48px;
  font-size: 16px;
  letter-spacing: 0.64px;
  border-radius: 4px;
  color: var(--bottom, #ffffff);
  border: none;
  background: var(--iris, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  height: 584px;
  background-color: var(--dairy, #fcfcfc);
}
.button-close {
  color: #2e2f42;
  border-radius: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  border-radius: 50%;
  position: absolute;
  top: 0%;
}
/*============ Info ============*/
.info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.info {
  padding-top: 96px;
  padding-bottom: 96px;
}

.text-info {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 24px;
}
.main-title {
  color: var(--main-title, #2e2f42);
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.desc {
  color: var(--slate, #434455);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.doing {
  display: none;
}

/*============ Team ============*/
.list-team {
  display: flex;
  column-gap: 24px;
  row-gap: 72px;
  justify-content: center;
  flex-wrap: wrap;
}

.team {
  padding-top: 96px;
  padding-bottom: 96px;
  color: var(--background);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  background-color: var(--cloud, #f4f4fd);
}

.team-card {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.main-title-team {
  color: var(--main-title, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-name {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2px;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}
.desc-team {
  color: var(--slate, #434455);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  padding-bottom: 8px;
}
.card-text-team {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}
.social {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon {
  fill: #f4f4fd;
}
.social-link:hover {
  background-color: #404bbf;
}
.social-link:focus {
  background-color: #404bbf;
}
.card-text-team {
  padding: 32px 16px;
}
@media screen and (min-width: 320px) {
  .container {
    max-width: 428;
  }
}
/*--------Customers-------*/
.customers {
  padding-top: 96px;
  padding-bottom: 96px;
}
.main-customers {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.customers-bloc {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 72px 16px;
}

.customers-iteam {
  width: calc((100% - 16px) / 2);
}
.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--customers-link, #8e8f99);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover {
  border-color: #404bbf;
  color: #404bbf;
}
.customers-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}
.customers-icon {
  fill: currentColor;
}
/*==========Button========*/
.buttons {
  background: #fff;
  padding-top: 96px;
  padding-bottom: 120px;
}
button {
  color: var(--iris, #4d5ae5);
  background: var(--background-bottom, #f4f4fd);
  border-radius: 4px;
  border: 1px;
  border: solid #e7e9fc;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-text {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  border: 1px solid #e7e9fc;
}
.button-text:hover {
  color: var(--bottom-hover, #fff);
  background: var(--background-bottom-hover, #404bbf);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button-text:focus {
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.butoon-bloc {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
/*========Image========*/
.image-content {
  display: block;
  position: relative;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.image-content:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}
.image-content:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}
.image-div {
  padding-top: 72px;
  padding-bottom: 48px;
}
.image-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.text {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: 16px;
  padding-left: 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.desc {
  color: var(--slate, #434455);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.main-title {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}
.image-section {
  display: block;
}
.overley-div {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--cloud, #f4f4fd);
  padding: 40px 32px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  background: var(--iris, #4d5ae5);
}
.image-content:hover .overlay {
  transform: translate(0, 0);
}
.image-content:focus .overlay {
  transform: translate(0, 0);
}
/*=========Footer========*/
.footer-div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px 15px;
  margin: 0px auto;
  gap: 72px 24px;
  justify-content: center;
  text-align: center;
}
.logotipe {
  color: var(--logotipe-blu, #4d5ae5);
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
span.ingredient {
  color: var(--cloud, #f4f4fd);
}
.footer {
  background-color: var(--navyblue, #2e2f42);
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-text {
  color: var(--cloud, #f4f4fd);
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  gap: 24px;
  letter-spacing: 0.32px;
  width: 264px;
}
.footer-text {
  color: var(--cloud, #f4f4fd);
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
}
/*======Social-media=======*/

.main-social-media {
  color: var(--white, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.social-media-iteam {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-media-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-icon {
  fill: #f4f4fd;
}
/*========subscribe======*/
.subscribe {
  margin-top: 72px;
  margin-bottom: 96px;
}
.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.subscribe-form {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.subscribe-form-span {
  display: block;
  position: relative;
}
.subscribe-form-input {
  width: 100%;
  height: 40px;
  line-height: var(--general-lh);
  letter-spacing: var(--ls-big);
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
  border: 1px solid #fff;
  background-color: transparent;
}
.subscribe-form-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  padding: 8px 24px;
  height: 40px;
  border: none;
  font-size: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 24px;
  padding-right: 24px;
  letter-spacing: 0.64px;
  border-radius: 4px;
  color: #ffffff;
  background: var(--iris, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-weight: 500;
  line-height: 1.5;
}
.subscribe-icon {
  margin-left: 16px;
  fill: #ffffff;
}
.subscribe-desc {
  color: var(--white, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}
